<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="Utility.TestListener" />
    </listeners>
    <test name="ContactUs Tests">
        <classes>
            <class name="TestCases.ContactUsTC" />
            <class name="TestCases.QueryTC" />
        </classes>
    </test>
</suite>
